<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4>À PROPOS DU BONPLAN</h4>
        <ul>
          <li><a href="#">Qui sommes-nous ?</a></li>
          <li><a href="#">Nous rejoindre</a></li>
          <li><a href="#">Nous contacter</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <h4>INFORMATIONS LÉGALES</h4>
        <ul>
          <li><a href="#">Conditions générales d’utilisation</a></li>
          <li><a href="#"Conditions Générales de Vente</a></li>
          <li><a href="#">Vos droits et obligations</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">

      </div>
    </div>

  </div>


</footer>