
    <a href='/login'>
        <button type="button" class="btn btn-primary offset-5 mt-5">
        Login
        </button>
    </a>
    <a href='/signup'>
        <button type="button" class="btn btn-primary mt-5">
        Signup
        </button>
    </a>