<form class="auth" action="/login" method="POST">
  <input type="text" placeholder="Username" name="username"/>
  <input type="password" placeholder="Password" name="password"/>
  <button type="submit">Submit</button>
</form>